body { margin: 40px 0; }
.create-form, .edit-form { margin-bottom: 20px; }

.edit-form {
  margin-top: 16px;
  margin-bottom: 13px;
}

.todo {
  margin-bottom: 15px;
  padding: 0 15px 5px 13px;
  border-top: 1px solid #eee;
}

.active {
  border-left: 2px solid #fff;
}

.completed {
  background-color: #eee;
  border-left: 2px solid #555;
}

.completed h2 {
  color: #888;
}

.responses pre {
  overflow: scroll;
}

.responses pre code {
  overflow: hidden;
  word-wrap: normal;
  white-space: pre;
}

.create-input, .edit-input {
  padding-left: 0;
}
